
/* =navbar
------------------------------------- */
.navbar .brand {
    margin-left: 0;
    padding: 13px 21px 12px 40px;
	background: url("../img/logo.png") no-repeat 0 10px;
	text-indent:-1000px;
	overflow:hidden;
	width:170px;
	height:70px;
	padding:0;
	margin:0;
}
.navbar .nav > li > a {
    padding: 25px 15px;
	font-size:18px;
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) inset, 0 1px 10px rgba(0, 0, 0, 0.1);
}

/* =data-list
------------------------------------- */
.data-list {
	padding-bottom:20px;
}
.data-list .table {
	margin-bottom:0;
	font-size:16px;
}
.data-list caption,
.data-list h2,
.data-detail .secondary h3 {
    border-bottom: 1px solid #E5E5E5;
    color: #333333;
    font-size: 21px;
    line-height: 40px;
    margin-bottom: 10px;
    text-align: left;
	font-weight:normal;
	margin-top:0;
}
.data-list .table th, .data-list .table td {
	line-height: 22px;
}

/* =data-detail
------------------------------------- */
.data-detail {
	margin-bottom:20px;
}
.data-detail .img {
	border:1px solid #E5E5E5;
	text-align:center;
	padding:10px;
}
.data-detail .img span.muted,
.data-detail .img p,
.data-detail .img a {
	display:block;
	margin:10px 0 0;
}
.data-detail .primary,
.data-detail .secondary {
	margin-bottom:20px;
}
.data-detail .primary .content {
	margin-left: 0;
}
.data-detail .primary .info-head {
	font-size: 21px;
    line-height: 40px;
	border-bottom: 1px solid #E5E5E5;
	margin-bottom: 20px;
}
.data-detail .primary .info-body {
	border-bottom: 1px solid #E5E5E5;
	padding-bottom: 21px;
}
.data-detail .primary .media > .pull-left {
	margin-right:20px;
}
.data-detail .primary .info-body .media-object {
	width:90px;
	height:90px;
	line-height:90px;
	text-align:center;
	font-size: 60px;
	border: 1px solid #E5E5E5;
}
.data-detail .primary .info-body .media-body {
	line-height:170%;
	font-size:18px;
}
.data-detail .secondary dd {
	margin-top:10px;
	margin-bottom:20px;
	line-height:180%;
}
.data-detail .secondary blockquote {
	margin: 20px 0 0;
}
.data-detail .secondary .img.ad {
	padding-bottom:19px;
}
.data-detail .secondary .img h4 {
	font-size: 30px;
}

.st .single-chong-wen .span5 {
	width: 52.1823%;
}
.st .single-chong-wen .span7 {
	width: 45.0552%;
}

.tb .single-chong-wen .span5,
.tb .single-chong-wen .span7 {
	width: 48.9362%;
}

/* =search-form
------------------------------------- */
#main .search-form {
	margin-left:0;
}
.search-form button {
	display:block;
}
.search-form input {
	width: 90%;
}

/* =pagination
------------------------------------- */
.pagination-container {
    border-top: 1px solid #CCCCCC;
    margin: 0 0 16px;
    padding-top: 20px;
}
.pagination-container .info {
	padding-top:3px;
}
.pagination {
	margin:0;
}

.pager li > a, .pager li > span {
	padding: 8px 14px;
	font-size: 20px;
}

/* =document
------------------------------------- */
.document {
	padding-bottom:20px;
}
.document p {
	margin-bottom: 20px;
	line-height:180%;
}
.document .page-header {
	margin-top:0;
}

/* =footer
------------------------------------- */
.footer {
	border-top:1px solid #ccc;
	margin-top:15px;
	padding:15px 0 30px;
	color:#999;
}
.footer .links {
	text-align:right;
}

/* =favorite
------------------------------------- */
.favorite .span5 div,
.favorite .span7 div {
	padding:0 10px;
}
.favorite .span5 div {
	text-align:right;
}
.favorite .row-fluid {
	background:#F5F5F5;
	line-height:30px;
}
.favorite ul,
.favorite li {
	margin:0;
	padding:0;
	list-style:none;
}
.favorite li {
	float:left;
	margin:13px 13px 0 0;
	border:1px solid #eee;
	font-size:18px;
	position:relative;
	width:50px;
	height:50px;
	line-height:50px;
	text-align:center;
}
.favorite li a {
	color:#333;
}
.favorite li a.remove {
	position:absolute;
	top:0;
	right:3px;
	font-size:12px;
	font-family:verdana,arial,sans-serif;
	color:red;
	line-height:12px;
}
.favorite .img span {
	font-size:20px;
	line-height:180%;
	display:block;
}

/* =sponsored-links
------------------------------------- */
.sponsored-links {
	margin:0;
	line-height:100%;
	padding:0;
	text-align:center;
	/*background:url("../img/ad-v.gif") no-repeat 734px 30px;*/
}
.img.ad .sponsored-links,
.media-body .sponsored-links {
	margin-top:10px;
}
.search-form .sponsored-links {
	border:1px solid #E5E5E5;
	padding:8px;
	margin-bottom:20px;
}
.medium-rectangle {
	border:1px solid #E5E5E5;
	padding:15px 0 8px;
	text-align: center;
}
.medium-rectangle span {
    color: #999999;
    display: block;
    padding-top:3px;
}
.banner {
	border:1px solid #E5E5E5;
	padding:9px 0 7px;
	margin-bottom:15px;
	text-align: center;
}
.leaderboard {
	width:728px;
	height:90px;
	margin:0 auto;
}
.st .leaderboard,
.tb .leaderboard {
	width:auto;
	height:auto;
	text-align:center;
	float:none;
}
.extra.button {
	width:120px;
	height:90px;
}
.document-embed {
	margin: 80px 0 20px 20px;
}
.mb .document-embed {
	float:none;
	margin: 0 auto 10px;
}

.pc .list-leaderboard,
.pc .detail-leaderboard {
	/* background: url(../img/ad-v.gif) no-repeat 732px 30px; */
}
.detail-leaderboard {
	+margin-bottom:20px;
}

/* =footerAd
------------------------------------- */
#footerAd {
	margin-top:20px;
	text-align:center;
}
#footerAd .thumbnails > li {
	margin-bottom:10px;
}
#footerAd .thumbnail {
	margin-bottom:10px;
}
#footerAd .title {
	height:36px;
	display:block;
}
#footerAd a {
	font-size:12px;
}

.google-related,
#disqus_thread {
	margin-top:50px;
}

/* =google adsense
------------------------------------- */
.shuowen-org-list-top,
.shuowen-org-detail-leaderboard { width: 728px; height: 90px; }
@media(max-width: 519px) { 
	.shuowen-org-list-top,
	.shuowen-org-detail-leaderboard { width: 320px; height: 100px; }
}
@media(min-width: 520px) and (max-width: 1199px) { 
	.shuowen-org-list-top,
	.shuowen-org-detail-leaderboard { width: 468px; height: 60px; }
}

.shuowen-org-favorite-bottom { width: 728px; height: 90px; }
@media(max-width: 549px) { 
	.shuowen-org-favorite-bottom { width: 320px; height: 100px; }
}
@media(min-width: 550px) and (max-width: 980px) { 
	.shuowen-org-favorite-bottom { width: 468px; height: 60px; }
}

.shuowen-org-detail-rectangle { width: 320px; height: 100px; }
@media(min-width: 768px) and (max-width: 979px) { 
	.shuowen-org-detail-rectangle { width: 250px; height: 250px; }
}

.shuowen-org-detail-banner { width: 468px; height: 60px; }
@media(max-width: 520px) { 
	.shuowen-org-detail-banner { width: 320px; height: 100px; }
}
@media(min-width: 768px) and (max-width: 979px) { 
	.shuowen-org-detail-banner { width: 234px; height: 60px; }
}
@media(min-width: 980px) and (max-width: 1199px) { 
	.shuowen-org-detail-banner { width: 320px; height: 100px; }
}

.shuowen-org-search-bottom { width: 250px; height: 250px; }
@media(max-width: 519px) { 
	.shuowen-org-search-bottom { width: 320px; height: 100px; }
}
@media(min-width: 520px) and (max-width: 767px) { 
	.shuowen-org-search-bottom { width: 468px; height: 60px; }
}
@media(min-width: 768px) and (max-width: 979px) { 
	.shuowen-org-search-bottom { width: 160px; height: 600px; }
}
@media(min-width: 980px) and (max-width: 1199px) { 
	.shuowen-org-search-bottom { width: 200px; height: 200px; }
}

/* =responsive
------------------------------------- */
@media (max-width: 1199px) {
	.button {
		display:none;
	}
}
@media (min-width: 980px) {
	body {
		margin-top:90px;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.search-form label span {
		font-size:12px;
	}
	.search-form .sponsored-links,
	.sponsored-links,
	.leaderboard,
	.extra.button {
		width: auto;
		height: auto;
		text-align:center;
		padding:0;
		float:none;
	}
}
@media (max-width: 767px) {
	.shuowen-org-detail-banner { margin-top:10px; }
	#footerAd li {
		width: 48.61878453038674%;
		float:left;
		margin-left: 1.127659574468085%;
	}
	#main .search-form,
	#main .data-list,
        #main .data-detail {
		float:none;
	}
	.search-form .sponsored-links,
	.sponsored-links,
	.leaderboard,
	.extra.button {
		width: auto;
		height: auto;
		text-align:center;
		padding:0;
		float:none;
		border:0;
	}
	.info-head .span6 {
		width: 48.61878453038674%;
		float:left;
		margin-left: 2.127659574468085%;
	}
	.data-detail .chong-wen .span4 {
		margin-bottom: 8px;
	}
}

